<!doctype html>

<html lang="en">
<head>
  <meta charset="iso-8859-1">

  <title>CBD</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Portal de noticias</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/new/add">Nueva noticia <span class="sr-only">(current)</span></a></li>
        <li><a href="/person/add">Nueva persona</a></li>
          <li><a href="/editorial/add">Nueva editorial</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {% block pre_container %}{% endblock %}
    {% block  no_container%}
        <div class="container">
            {% block not_jumbotron %}
                <div class="jumbotron">
                    {% block jumbotron %}{% endblock %}
                </div>
            {% endblock %}
            {% block content %}{% endblock %}
            <div class="row">
                {% block row %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    {% block post_container %}{% endblock %}

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
